# experiment management
hydra-core
mlflow==2.4.1
tqdm
pytest
black==22.3.0

# deep learning
torch>=2.0.0
torchvision>=0.15.0
torch-geometric==2.4.0
torch-ema
einops
pytorch_optimizer>=3.2.0

# standard science stack
numpy
matplotlib

# project-specific
xformers
torch-cluster>=1.6.3
