# torch-cluster requires pre-build torch wheels
--find-links https://data.pyg.org/whl/torch-2.0.0+cpu.html

# deep learning
torch>=2.0.0
torch-geometric>=2.4.0

# standard science stack
numpy

# project-specific
xformers
torch-cluster>=1.6.3
einops
opt_einsum
